@tailwind base;
@tailwind components;
@tailwind utilities;

/* small defaults */
:root{
  --bg-dark: #061a22;
}

html,body,#root{
  height:100%;
  margin:0;
  font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: var(--bg-dark);
}
